
li img{
    width: 45%;
    max-width: 400px;
    margin-left: 59%;
    margin-top: -20%;
    
}
li p{
    margin-right: 80%;
}
#listFix{
    max-width: 650px;
}
h1{
    text-align: center;
    color: red;
}
body{
    background-color:grey;
}